.card {
  //box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
  border: none;
  border-radius: 0;

  .card-header {
    background: transparent;
    padding: 0.95rem 1.25rem;
    font-size: 1.3em;
    border-radius: 0 !important;
    border: transparent;
  }
  .card-body {

    .no-bullets {
      padding: 10px 0;

      li {
        list-style: none;
      }
    }
  }

  .pagination {
    margin: 0;
    float: right;

    a {
      cursor: pointer;
    }

    a.page {
      color: #353a40;
      line-height: 1;
      padding: 7px 7px;
    }

    a.page.active {
      z-index: 1;
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      border-radius: 100%;
      box-shadow: none;
      outline: 0;
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 7px 0px;
    }

    .btn-nav {
      padding: 7px 7px;
      font-size: 0.6rem;
    }

    .btn-nav.disabled {
      color: lightgray;
      padding: 7px 7px;
      cursor: not-allowed;
    }
  }
}