.dashboard__summary {

  .widget-count {
    color: #455a64;

    h3 {
      font-size: 1em;
      margin-bottom: 0;
      font-weight: 400;
    }

    .icon {
      float: left;
      font-size: 25px;
      margin-right: 20px;
    }

    .number {
      font-size: 1.4em;
      line-height: 1.4em;
    }
  }

  .card--nurseries {
    border-bottom: 4px solid #24d2b5;
    .icon { color: #24d2b5; }
  }
  .card--employees {
    border-bottom: 4px solid #6772e5;
    .icon { color: #6772e5; }
  }
  .card--substitutes {
    border-bottom: 4px solid #ff5c6c;
    .icon { color: #ff5c6c; }
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}
