.navbar {

  &.navbar-dark {
    background: #415c77;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}
