.navbar {

  &.navbar-dark {
    background: #2e333f;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.9em;
  padding-right: 0.9em;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .navbar {
    height: 100px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}
