.header__top {
  height: auto;
  color: #fff;
  padding: 10px 0;
  background: #169bf4;
  background: -moz-linear-gradient(-45deg, #0277BD 8%, #00BCD4 100%);
  background: -webkit-linear-gradient(-45deg, #0277BD 8%,#00BCD4 100%);
  background: linear-gradient(135deg, #0277BD 8%,#00BCD4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0277BD', endColorstr='#00BCD4',GradientType=1 );

  .container {
    position: relative;
  }

  .brand {
    img {
      width: 157px;
      height: 40px;
    }
  }
}

.navbar {
  display: none;

  &.navbar-dark {
    background: #2e333f;
  }

  &.navbar-light {
    .navbar-nav {
      .nav-link { color: #6b6e71; }

      .active {
        .nav-link { color: #354051; }
      }
    }
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 3px;
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  //.nav-mobile { display: none; }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .hamburger { display: none; }
  .navbar {
    display: block;
    padding: 0;

    .nav-item {
      padding: 10px 5px;

      &.active {
        border-bottom: 4px solid #fcb002;
        padding-bottom: 6px;
      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}
